html, body, #root {
    height: 100%
}

.transparent {
    opacity: .7;
}

.w-20 {
    width: 20%;
}

.nounderline {
    text-decoration: none;
}

.sidenavlink:after{
    content:"";
    padding-right: 110px;  
} 